.section {
  margin-bottom: $space--xxx-large;

  &__heading {
    margin-bottom: $space;
    margin-top: 0;
  }

  &.inverse {
    background: $another-grey;
  }

  &.padded {
    padding: $space--large $space--x-large;
  }
}
