.select {
  position: relative;

  &__button {
    position: relative;
    text-align: left;

    &:hover {

      .select {

        &__indicator {

          .icon {
            fill: $grey--hard;
          }
        }
      }
    }

    &:focus,
    &:active {

      .select {

        &__indicator {

          .icon {
            fill: $blue;
            transition: all $speed--xx-fast;
          }
        }
      }
    }

    .select {

      &__item {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__items {
    background: $white;
    border-radius: $form--element--border-radius;
    box-shadow:
      form--element--box-shadow($darkest-grey, 0.05, 0.1),
      0 0 0 1px rgba($darkest-grey, 0.1);
    max-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $spacing--small 0;
    position: fixed;
    transform-origin: 50% -5px;
    transition: opacity $speed--xx-fast, transform $speed--xx-fast;
    z-index: 101;

    &--is-up {
      transform-origin: 50% calc(100% + 5px);
    }

    &--match-trigger-width {
      max-width: none;
    }

    .select {

      &__item {
        cursor: pointer;
        padding: $spacing--x-small $spacing--large;
        position: relative;
        transition: all $speed--xx-fast;
        z-index: 1;

        &:hover {
          background: $light-grey--lighter;
        }
      }
    }
  }

  &__item {

    &.select {

      &__item {

        &--is-selected {
          color: $blue;
          font-weight: 500;

          .icon {
            fill: $blue;
            opacity: 1;
          }
        }
      }
    }

    .icon {
      fill: $grey;
      height: 14px;
      left: $spacing--xx-small - 1;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      transition: all $speed--xx-fast;
      width: 14px;
    }
  }

  &__menu {
    height: 100vh;
    left: 0;
    width: 100vw;
    position: absolute;
    top: 0;

    &--enter {

      .select {

        &__items {
          opacity: 0;
          transform: translateY(2rem * -1);

          &--is-up {
            transform: translateY(2rem);
          }
        }
      }

      &--active {

        .select {

          &__items {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    &--exit {

      .select {

        &__items {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &--active {

        .select {

          &__items {
            opacity: 0;
            transform: translateY(20px * -1);

            &--is-up {
              transform: translateY(20px);
            }
          }
        }
      }
    }
  }

  &--is-open {

    .select {

      &__indicator {

        .icon {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }
  }
}
