* {
  box-sizing: border-box;
}

html,
body,
.main {
  height: 100vh;
  width: 100vw;
}

body {
  background: $light-grey;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__heading {
    color: $grey;
    flex: 0 0 auto;
    font-size: $font-size--x-small;
    font-weight: 500;
    margin: 0 0 $app--heading--padding--x 0;
    padding: 0;
    text-transform: uppercase;
  }

  &__body {
    background: $white;
    display: flex;
    flex: 1 1 auto;
  }

  &__navigation,
  &__content {
    padding: $app-panel--padding--y $app-panel--padding--x;
  }

  &__navigation {
    background: $light-grey--soft;
    flex: 0 0 200px;
    border-right: 1px solid $light-grey;
  }

  &__content {
    flex: 1 1 auto;
    overflow: auto;

    .section {

      &:first-child {

        .section {

          &__heading {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.navigation {

  &__heading {
    margin-top: 0;
  }

  &__list {
    list-style: none;
    margin: 0 $app-panel--padding--x * -1;
    padding: 0;
  }

  a {
    cursor: pointer;
    display: block;
    padding: $app--sidebar--item--padding--y $app--sidebar--item--padding--x;
    transition: background $speed--xx-fast color $speed--xx-fast;

    &:hover {
      background: $medium-grey--soft;
      color: $dark-grey;
    }
  }
}
