$input--box-shadow: input---box-shadow($grey--lighter);

.button {
  border: 1px solid currentColor;
  cursor: pointer;
  color: $white;
  font-weight: 500;
  user-select: none;

  &:active {
    color: rgba($white, 0.8);
  }

  &--primary {
    background: $blue;
    border-color: $blue--hard;
    box-shadow: input--box-shadow($blue);
    text-shadow: input--text-shadow($blue--hard);

    &:hover {
      background: $blue--light;
    }

    &:active,
    &:focus {
      box-shadow: input--box-shadow--active($blue);
    }

    &:active {
      background: $blue--hard;
      border-color: darken($blue--hard, 5%);
    }
  }

  &--secondary {
    background: $green;
    border-color: $green--hard;
    box-shadow: input--box-shadow($green);
    text-shadow: input--text-shadow($green--hard);

    &:hover {
      background: $green--light;
    }

    &:active,
    &:focus {
      box-shadow: input--box-shadow--active($green);
    }

    &:active {
      background: $green--hard;
      border-color: darken($green--hard, 5%);
    }
  }

  &--tertiary {
    background: $grey;
    border-color: $grey--harder;
    box-shadow: input--box-shadow($grey);
    text-shadow: input--text-shadow($grey--hard);

    &:hover {
      background: $grey--light;
    }

    &:active,
    &:focus {
      box-shadow: input--box-shadow--active($grey);
    }

    &:active {
      background: $grey--hard;
      border-color: darken($grey--hard, 5%);
    }
  }

  &--quaternary {
    background: $white;
    border-color: $grey--lighter;
    box-shadow: input--box-shadow($grey--lighter);
    color: $grey;

    &:hover {
      border-color: $medium-grey;
      color: $grey--hard;
    }

    &:active,
    &:focus {
      border-color: $blue;
      box-shadow: input--box-shadow--active($blue);
      color: $blue;
    }

    &:active {
      background-color: $blue--soft;
      color: rgba($blue--soft, 0.8);
    }
  }

  &--disabled {
    box-shadow: input--box-shadow($blue);
    color: $grey--light;
    text-shadow: none;

    &,
    &:hover,
    &:focus,
    &:active {
      background: $light-grey;
      border-color: $light-grey--hard;
      box-shadow: none;
      cursor: not-allowed;
      // text-shadow: input--text-shadow($light-grey--hard);
    }
  }
}
