$checkbox--height: $space--large;
$checkbox--width: $space--large;

$input--background: $white;
$input--border: $grey--lighter;
$input--border--hover: $medium-grey;
$input--box-shadow: input--box-shadow($grey--lighter);
$input--foreground: $grey;
$input--foreground--hover: $grey--hard;
$input--foreground--placeholder: rgba($medium-grey, 0.5);
$input--foreground--placeholder--hover: rgba($grey--light, 0.6);

.input {
  background: $input--background;
  color: $input--foreground;
  border: 1px solid $input--border;
  box-shadow: $input--box-shadow;

  &::placeholder {
    color: $input--foreground--placeholder;
    transition: color $speed--xx-fast;
  }

  &:hover {
    border-color: $input--border--hover;
    color: $input--foreground--hover;

    &::placeholder {
      color: $input--foreground--placeholder--hover;
    }
  }

  &:active,
  &:focus {
    background-color: $blue--soft;
    border-color: $blue;
    box-shadow: input--box-shadow--active($blue);

    &::placeholder {
      color: rgba($blue--light, 0.5);
    }
  }

  &:active {
    color: $grey--hard;
  }

  &:focus {
    color: $blue--hard;
  }

  &__label {
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: $space--xx-small;
  }

  &--hidden {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: $form--element--padding--y 0 $form--element--padding--y $checkbox--width + $space--x-small;
  position: relative;
  transition: all $speed--x-fast;
  user-select: none;

  &:hover {
    transition: all $speed--xx-fast;

    .checkbox {

      &__indicator {
        border-color: $input--border--hover;

        &,
        &__icon {
          transition: all $speed--xx-fast;
        }

        &__icon {

          &,
          .icon {
            display: block;
          }
        }
      }
    }
  }

  &:focus,
  &:active {
    color: $blue;

    .checkbox {

      &__indicator {
        border-color: $blue;
        box-shadow: input--box-shadow--active($blue);

        &,
        &__icon {
          transition: all $speed--xx-fast;

          .icon {
            fill: $blue;
          }
        }
      }
    }
  }

  &:active,
  &--is-active {

    .checkbox {

      &__indicator {
        background-color: rgba($blue, 0.1);
        color: rgba($blue, 0.8);

        &__icon {
          opacity: 0.25;
        }
      }
    }
  }

  &__element {
    position: absolute;
    visibility: hidden;

    &:checked {

      & + .checkbox {

        &__indicator {

          .checkbox {

            &__indicator {

              &__icon {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &__indicator {
    background: $input--background;
    border-radius: $form--element--border-radius;
    border: 1px solid $input--border;
    box-shadow: $input--box-shadow;
    display: inline-block;
    height: $checkbox--height;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all $speed--x-fast;
    width: $checkbox--width;

    &__icon {
      opacity: 0;
      transition: all $speed--x-fast;

      &,
      .icon {
        height: 100%;
        width: 100%;
      }

      .icon {
        fill: $grey;
        transition: all $speed--x-fast;
      }
    }
  }

  &__label {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
